/*
 * Styles for ACP control calculator
 * (Fill in as desired)
 *
 * These should not conflict with bootstrap's CSS, but they may 
 * add more specific styles.
 */


#register {
  width: 300px;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 50px;
}
